<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349828504920-dvi83ug13natk6pr8fubpikipvi672uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349828504920-dvi83ug13natk6pr8fubpikipvi672uu</string>
	<key>API_KEY</key>
	<string>AIzaSyCpmA0Pba3jJPBg8izyWEbg3SAiwNBk8TY</string>
	<key>GCM_SENDER_ID</key>
	<string>349828504920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontendGrounda</string>
	<key>PROJECT_ID</key>
	<string>ground-admin-22692</string>
	<key>STORAGE_BUCKET</key>
	<string>ground-admin-22692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349828504920:ios:b1bbbb047214d51b0e992d</string>
</dict>
</plist>